extends layout 

block content
    nav(class="navbar")
        div(class="container fluid")
                h4 RBAC
                ul
                    li 
                        a(href="/") Home
                    li 
                        a(href="/dashboard") Dashboard
                    li 
                        a(href="/auth/logout") Logout 
        
    div(class="container mt-4")
        if message 
            div(class="alert alert-warning alert-dismissible fade show" role="alert")
                strong  #{message}
                button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")
        
        table(class="table")
            thead(class="table-dark")
                tr 
                th(scope="col") #
                th(scope="col") Title
                th(scope="col") Description 
                th(scope="col") Author
                th(scope="col" class="text-end")
            tbody 
            each row, i in rows
                tr
                th(scope="row") #{row.article_Id}
                td #{row.title}
                td #{row.about}
                td #{row.authorName}
                td( class="text-end")
                    if Role == 'Admin'
                        a(href="#" type="button" class="btn btn-light btn-small") View
                            i(class="bi bi-eye") 
                        if Author == row.authorId    
                            a(href="#" type="button" class="btn btn-light btn-small") Edit
                                i(class="bi bi-pencil")
                        a(href="#" type="button" class="btn btn-light btn-small") Delete
                            i(class="bi bi-trash")
                    if Role == 'Editor'
                        a(href="#" type="button" class="btn btn-light btn-small") View
                            i(class="bi bi-eye") 
                        if Author == row.authorId    
                            a(href="#" type="button" class="btn btn-light btn-small") Edit
                                i(class="bi bi-pencil")
                      
